h1 {
    font-size: 5em;
    color: #2952A3;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

p {
    font-size: 2em;
    text-align: center;
}

div {
    height: 50px;
    width: 120px;
    border: 2px solid #6495ED;
    border-radius: 10px;
    background: #BCD2EE;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.button {
    text-align: center;
    color: #2952a3;
    font-size: 1em;
}

div:hover {
    background: #FF3300;
}